<!doctype html>
<html th:fragment="layout (template)">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ALGO-MI</title>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">
  <script th:src="@{/resources/npm/node_modules/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/resources/npm/node_modules/jquery-modal/jquery.modal.min.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/algomi.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main-dashboard.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/resources/npm/node_modules/jquery-modal/jquery.modal.min.css}"/>
</head>
<body>
<script type="text/javascript">
  $(function () {
    doAction();
  });
</script>
<div class="container">
  <div class="header">
    <div class="logout">
      <form th:action="@{/logout}" method="post">
        <input class="sumit-btn" type="submit" value="LOG OUT"/>
      </form>
    </div>
  </div>
  <th:block th:insert="${template}"/>
  <div class="footer">
    <div class="footer-container">
      All rights reserved : younggyo0114@gmail.com
    </div>
  </div>
</div>
</body>
</html>
