<!doctype html>
<html>
<body>

<div id="modal-add-question" class="modal-add-question" style="display: none">
  <div class="modal-add-question-container">
    <input type="hidden" id="question-id">
    <form th:action="@{/question}" method="post" id="saveQuestionForm">
      <div class="modal-add-input-area">
        <table class="input-table">
          <tr class="input-tr">
            <td class="input-label">
              <label for="input-question-title">제목 : </label>
            </td>
            <td class="input-content">
              <input id="input-question-title" class="search-input" type="text" name="title">
            </td>
          </tr>
          <tr class="input-tr">
            <td class="input-label">
              <label for="input-question-url">URL : </label>
            </td>
            <td class="input-content">
              <input id="input-question-url" class="search-input" type="text" name="url">
            </td>
          </tr>
          <tr class="input-tr">
            <td class="input-label">
              <label for="input-question-type">문제유형 : </label>
            </td>
            <td class="input-content">
              <select id="input-question-type" name="questionType">
                <option value="">선택</option>
                <option value="GREEDY">GREEDY</option>
                <option value="DP">DP</option>
                <option value="BFS">BFS</option>
                <option value="DFS">DFS</option>
              </select>
            </td>
          </tr>
          <tr class="input-tr">
            <td class="input-label">
              <label for="input-question-reference">출처 : </label>
            </td>
            <td class="input-content">
              <select id="input-question-reference" name="fromSource">
                <option value="">선택</option>
                <option value="LEETCODE">LEETCODE</option>
                <option value="BAEKJOON">BAEKJOON</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </form>
    <div class="modal-add-btn-area">
      <button style="display: none" id="change-status-btn" class="add-question-btn">수정하기</button>
      <button style="display: none" id="add-question-btn" class="add-question-btn">등록</button>
      <button style="display: none" id="update-question-btn" class="add-question-btn">수정</button>
      <button style="display: none" id="delete-question-btn" class="add-question-btn">삭제</button>
    </div>
  </div>
</div>
</body>
