
.condition-container {
  width: 80%;
  height: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto
}

.condition-table {
  border-collapse: separate;
  border-spacing: 10px;
}

.condition-table, .condition-table th, .condition-table td {
  border: none;
}

.condition-table td.condition-label {
  text-align: left;
}

.condition-table td.condition-content {
  text-align: right;
}

.condition-table select {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 120px;
  height: 37px;
}

.top-container {
  width: 100%;
  height: 10%;
}

.search-container {
  float: right;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-input {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}

input::placeholder {
  text-align: center;
}

.search-btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.contents-container {
  width: 94%;
  margin: 0 auto;
  padding: 20px;
}

.table-container {
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1.5px solid black;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  text-align: center;
}

.small-width {
  width: 30px;
}

.medium-width {
  width: 100px;
}

.large-width {
  width: 200px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination li {
  font-size: 18px;
  margin: 0 10px;
}

.pagination a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
  border-radius: 3px;
}

.pagination a.active, .pagination a:hover {
  background-color: black;
  color: white;
}

.bottom-btn-container {
  width: 100%;
}

.bottom-btn {
  float: right;
}

.show-add-question-modal-btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

