<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<head>
</head>
<body>
<div class="left-menu">
  <div class="left-menu-container">
    <div class="condition-container">
      <table class="condition-table">
        <tr class="condition-tr">
          <td class="condition-label">
            <label for="search-question-type">문제유형 : </label>
          </td>
          <td class="condition-content">
            <select class="search" id="search-question-type" name="questionType">
              <option value="">선택</option>
              <option value="GREEDY">GREEDY</option>
              <option value="DP">DP</option>
              <option value="BFS">BFS</option>
              <option value="DFS">DFS</option>
            </select>
          </td>
        </tr>
        <tr class="condition-tr">
          <td class="condition-label">
            <label for="search-fromSource">출처 : </label>
          </td>
          <td class="condition-content">
            <select class="search" id="search-fromSource" name="fromSource">
              <option value="">선택</option>
              <option value="LEETCODE">LEETCODE</option>
              <option value="BAEKJOON">BAEKJOON</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="right">
  <div class="right-container">
    <div class="contents-container">

      <div class="top-container">
        <div class="search-container">
          <input class="search search-input" type="text" name="title"
                 placeholder="검색어를 입력하세요">
          <button id="search" class="search-btn" th:onclick="getList()">검색</button>
        </div>
      </div>

      <div class="table-container">
        <table id="main-table" class="main-table">
          <thead>
          <tr>
            <th>제목</th>
            <th>문제유형</th>
            <th>출처</th>
            <th>복습</th>
            <th>등록일</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="question : ${contents}">
            <td th:text="${question.title}" th:attr="id=${question.id}"/>
            <td th:text="${question.questionType}"/>
            <td th:text="${question.fromSource}"/>
            <td th:class="small-width" th:text="${question.reviewCount}"/>
            <td th:text="${question.registDt}"/>
          </tr>
          </tbody>
        </table>
        <div th:if="${totalPages > 0}" th:class="pagination-container">
          <ul th:class="pagination">
            <li th:if="${!isStartNumberPeriod}">
              <a th:href="@{'/customer/main-dashboard?page=' + ${startNumber - 2}}"> << </a>
            </li>
            <li th:if="${hasPrevious}">
              <a th:href="@{'/customer/main-dashboard?page=' + ${currentPage - 1}}"> < </a>
            </li>

            <li th:each="i: ${#numbers.sequence(startNumber, endNumber)}">
              <a th:class="${currentPage == (i - 1) ? 'active' : 'inactive'}"
                 th:href="@{'/customer/main-dashboard?page=' + ${i - 1}}">[[${i}]]</a>
            </li>

            <li th:if="${hasNext}">
              <a th:href="@{'/customer/main-dashboard?page=' + ${currentPage + 1}}"> > </a>
            </li>
            <li th:if="${!isEndNumberPeriod}">
              <a th:href="@{'/customer/main-dashboard?page=' + ${endNumber + 1}}"> >> </a>
            </li>
          </ul>
        </div>

        <div class="bottom-btn-container">
          <div class="bottom-btn">
            <button id="show-add-question-modal-btn" class="show-add-question-modal-btn">등록하기
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script th:src="@{/resources/js/main-dashboard.js}"></script>
<div th:insert="~{fragments/modal :: body}"></div>
</body>
</html>
